*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(17, 19, 21);
  --dark-grey: rgb(41, 44, 45);
  --white: rgb(255, 255, 255);
  --dark-grey-brown: rgb(102, 102, 102);
  --light-grey-brown: rgb(171, 171, 171);
  --light-border: rgb(201, 201, 201);
  --light-font-color: rgb(201, 201, 201);
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}
